/* Displays:
  none: no muestra
  block: por defecto de la mayoria de los elementos, ocupa todo el ancho posible
  inline: deja de funcionar como contenedor, permite poner las cosas en una unica linea porque 
    ocupa solo el ancho del contenido
  inline-block: respeta el ancho
  flex: de padres a hijos  */

body {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Fjalla One', sans-serif;
}

h1 {
  font-size: 40px;
  /* altura entre lineas, em relativo en funcion del elemento */
  line-height: 1.5em;
  /* styles negrilla pesos etc */
  font-weight: normal;
  letter-spacing: -0.2px;
  /* text-transform: uppercase;
  text-decoration: dotted; */
  color: white;
  margin: 100px 150px 70px 30px;
}

h1 strong {
  color: #026fff;
}

.hero {
  height: 300px;
  background-image: url('../images/hero.jpg');
  background-size: 500px 300px;
  background-repeat: no-repeat;
  background-position-x: right;
  background-color: #1b2127;
}

.portfolio {
  background: #fafafa;
}

.project {
  /* border-top: 10px solid red; */
  /* border-color: blue;
  border-width: 15px;
  border-style: solid; */
  border: 1px solid gray;
  margin: 10px;
  border-radius: 10px;
  margin-bottom: 15px;
  padding: 20px;
  background: white;
}

.project-details {
  width: 500px;
}

.project-imageWrapper {
  width: 500px;
}

.header {
  background-color: #1b252c;
  color: white;
}

.header a {
  color: white;
  text-decoration: none;
}
